@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./almarai-font.css";

:root {
  --main-green: #3f9065;
  --main-red: #eb1400;
  --main-dark: #072f25;
  --main-orange: #ff9924;
  --main-yellow: #f1c40f;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family:
    "Almarai",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Roboto",
    "Oxygen",
    "Ubuntu",
    "Cantarell",
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* Hide scrollbar (keep scroll behavior) */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE/Edge Legacy */
  scrollbar-width: none; /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome/Safari */
}
.container {
  padding-left: 100px;
  padding-right: 100px;
}

@media (max-width: 768px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
